fastapi
uvicorn[standard]
python-multipart
sqlalchemy
psycopg2-binary
python-dotenv
openai
pydantic[email]
pydantic-settings
httpx
passlib[bcrypt]
python-jose[cryptography]
google-cloud-vision
pillow
cloudinary
